/* Estilos generales para el footer */
.footer {
    background-color: #060606;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Estilos específicos para el texto del footer */
  .footer-text {
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* Estilos responsivos */
  @media (max-width: 767px) {
    .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  