.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-field {
    flex: 1;
    margin-right: 15px;
  }
  
  .search-button {
    min-width: 100px;
  }
  
  .user-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .datos {
    text-align: center;
  }
  